@use '@gear-js/ui/variables' as *;

.button {
  background-color: transparent;

  &:hover {
    background-color: #911bf1;
  }
}

.active {
  background-color: #4000ff;
  cursor: default;

  &:hover {
    background-color: #911bf1;
  }
}
